<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" >

        <script src="{{ asset('assets/js/jquery-3.3.1.js') }}" ></script>

        <style>

            #mainMain {
                margin-top: 80px;
            }


        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top111 bg-dark">
        <a class="navbar-brand" href="/">
            Map!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/history">History </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>


            </ul>


            <form class="form-inline my-2 my-lg-0 d-none">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" id="mainMain">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

    </main>



    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('assets/js/main.js') }}" ></script>

        {% block javascripts %}{% endblock %}
    </body>




</html>
